<div class="d-flex justify-content-around ">
  <% @employees.each do |doctor|%>
    <div class="card border-info mb-3 " style="max-width: 18rem;">
      <div class="card-header"><%= doctor.name.capitalize %></div>
      <div class="card-body">
        <h5 class="card-title">About</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <div class="card-footer bg-transparent border-success">
        Conatct: <%= doctor.phone_number%><br>
        <%= doctor.specialist.capitalize if doctor.specialist.present? %><br>
      </div>
    </div>
  <% end %>
</div>
